.homemaincontainer {
    margin-left: rem(80px);
    background-color: #17171e;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}

.splitter {
    margin-top: 4.2rem;
}

.homemaincontainer::-webkit-scrollbar {
    display: none;
}

.container {
    text-align: center;
    padding: 40px 20px;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subheading {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bbb;
    cursor: pointer;
}

.heading {
    font-size: 36px;
    margin-top: 10px;
}

.pitchheading {
    font-size: 46px;
    margin-top: 10px;
}

.description {
    font-size: 22px;
    color: #bbb;
    margin-top: 10px;
}

.imageContainer {
    margin-top: 30px;
}

.browseButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #3e396e;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    width: fit-content;
    font-weight: 500;
}

.browseButton:hover {
    background-color: #2b2847;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 20px 15px;
    }

    .heading {
        font-size: 2rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .imageContainer {
        margin-top: 20px;
    }

    .browseButton {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .browseButton {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}

.container2 {
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
}

.container2 h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.container2 div {
    background-color: #1f1f28;
    border-left: 3px solid #665dc3;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
    color: #d8d8e2;
}

.container2 ul {
    margin-left: 2rem;
}

.hrtag {
    border: 0.005rem solid #262633;
}

.clearButton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.clearButton:hover {
    color: rgb(112, 105, 105);
}

.waveform {
    margin: 20px auto;
    width: 100%;
    height: 120px;
    background: #1e1e28;
    border-radius: 12px;
    border: 1px solid #665dc3;
}

.timeDisplay {
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size: 14px;
    margin-top: 10px;
}

.controlBar {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.playPauseButton,
.cutButton,
.removeButton,
.undoButton,
.redoButton {
    margin-left: 0.5rem;
    background-color: #1c1c26;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playPauseButton:hover,
.cutButton:hover,
.removeButton:hover,
.undoButton:hover,
.redoButton:hover {
    background-color: #444;
}

.saveSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #262633;
    position: absolute;
    bottom: 0;
    left: rem(80px);
    right: 0;
    padding: 1rem 3rem;
}

.formatLabel {
    margin-right: 10px;
}

.formatSelect {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
}

.saveButton {
    background-color: #d3d3df;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 1rem;
}

.saveButton:hover {
    background-color: #9b9ba6;
}

.audioEditor {
    margin: 0 auto;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.playPauseButton,
.saveButton {
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 22px;
}

.formatContainer {
    position: relative;
    display: inline-block;
}

.formatButton {
    color: #c8c8d3;
    padding: 8px 16px;
    border-radius: 25px;
    border: 1px solid #3a3a3a;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.selectedFormat {
    color: #00ff7f;
    margin-left: 5px;
}

.dropdownMenu {
    position: absolute;
    bottom: 44px;
    background-color: #1c1c1c;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.dropdownItem {
    color: white;
    padding: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #333;
}